# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env

# Logs
logs/
*.log

# Generated Outputs
outputs/
clips/
frames/
uploads/

# AI Models
*.pt
*.pth
*.ckpt
*.onnx
*.engine

# Databases
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# Operating System
.DS_Store
Thumbs.db

# Node
node_modules/

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
build/