# PostgreSQL runtime files
database/postgres/

# ChromaDB
database/chromadb/

# Datasets
ai/datasets/

outputs/yolo_test/prediction/*.avi
outputs/bytetrack_test/prediction/*.avi

# Logs
logs/

# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]

# Models
*.pt
*.pth
*.ckpt
*.bin
*.safetensors

# Environment
.env